# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# IDEs
.vscode/
.idea/

# Model artifacts
*.pt
*.pth
*.h5

# Logs
*.log